<nav #sidebar class="sidebar">
  <header>
    <div class="image-text">
      <span class="image">

<!--        <img src="assets/images/DoctoRdv.png" alt="">-->
      </span>
      <div class="text logo-text">
        <span class="name">DoctoRdv</span>
        <span class="profession">Mon Espace Santé</span>
      </div>
    </div>
    <i class='bx bx-chevron-right toggle'></i>
  </header>

  <div class="menu-bar">
    <div class="menu">
      <li class="search-box">
        <i class='bx bx-search icon'></i>
        <input type="text" placeholder="Rechercher...">
      </li>

      <li class="nav-link">
        <a routerLink="/medecin/dashboard">
          <i class='bx bx-grid-alt icon'></i>
          <span class="text nav-text">Tableau de bord</span>
        </a>
      </li>

      <li class="nav-link">
        <a routerLink="/medecin/plage-horaire">
          <i class='bx bx-time icon'></i>
          <span class="text nav-text">Plage horaire</span>
        </a>
      </li>

      <li class="nav-link">
        <a routerLink="/medecin/rendez-vous">
          <i class='bx bx-calendar-check icon'></i>
          <span class="text nav-text">Rendez-vous</span>
        </a>
      </li>


      <li class="nav-link">
        <a routerLink="/medecin/dossier-medical">
          <i class='bx bx-folder-plus icon'></i>
          <span class="text nav-text">Dossier médical</span>
        </a>
      </li>

      <li class="nav-link">
        <a routerLink="/medecin/notification">
          <i class='bx bx-bell icon'></i>
          <span class="text nav-text">Notification</span>
        </a>
      </li>


    </div>
    <div class="bottom-content">
      <li>
        <a (click)="onLogout()">
          <i class='bx bx-log-out icon'></i>
          <span class="text nav-text">Se déconnecter</span>
        </a>
      </li>
      <li class="mode">
        <div class="sun-moon">
          <i class='bx bx-moon icon moon'></i>
          <i class='bx bx-sun icon sun'></i>
        </div>
        <span class="mode-text text">Dark mode</span>
        <div class="toggle-switch">
          <span class="switch"></span>
        </div>
      </li>
    </div>
  </div>
</nav>
<section class="main-content">

  <router-outlet></router-outlet>
</section>
